$--very-light-pink: #c7c7c7;
$--white: #ffffff;
$--black: #000000;
$--hospital-green: #ACD9B2;
$--test-input-field: #f7f7f7;
$--dark: #232830;
$--color-price: #404040;
$--color-title-product: #797979;